{% extends "soi_app/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<head>
     <link rel="stylesheet" type="text/css" href="{% static 'soi_app/index.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'soi_app/home_professor.css'%}">

     <script src = "{% url 'js-catlog' %}"></script>
     <script src = "{% static '/admin/js/core.js' %}"></script>

    <!-- <link rel = "stylesheet" href="{% static 'admin/css/base.css' %}"> -->
     <link rel = "stylesheet" href="{% static 'admin/css/widgets.css' %}">
</head>

<body>

        <main role="main" class="container">
                <div class="row">
                    <div class="sidenav" id="sidenav1">
                        <button  class="button" type="button" onclick="showOrHideDivBtn0()">Add Task</button>
                        <button  class="button" type="button" onclick="showOrHideDivBtn1()">All Tasks</button>
                        <button  class="button" type="button" onclick="showOrHideDivBtn2()">Users</button>
                        <button  class="button" type="button" onclick="showOrHideDivBtn3()">Reports</button>

                    </div>

                  <div class="col-md-8" id="btn-0" style="display: block">
                        <p class="naslov">NEW  GROUP</p>
                            <div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Create Task</legend>
                                        {{ form.media }}
                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        <hr>
                  </div>

                  <div class="col-md-8" id="btn-1" style="display: none">
                       <p class="naslov">ALL TASKS</p>
                        <legend class="border-bottom mb-4">List of Tasks </legend>
                            <div class="list-group">

                                {% for instance in all_tasks %}
                                    <a href="http://localhost:8000/group/{{object_list.code}}/{{instance.id}}/tasks" class="list-group-item list-group-item-action"><h6>{{instance.name}}</h6> <span class="badge badge-primary badge-pill"></span>
                                    </a>
                                {% endfor %}
                            </div>

                  </div>

                <div class="col-md-8" id="btn-2" style="display: none">
                    <p class="naslov">ALL USERS</p>
                        <legend class="border-bottom mb-4">List of Users </legend>
                            <div class="list-group">
                                {% for instance in all_users %}
                                    <a href="http://localhost:8000/#" class="list-group-item list-group-item-action"><h6>{{instance.username}}</h6> <span class="badge badge-primary badge-pill"></span>
                                    </a>
                                {% endfor %}
                            </div>
                </div>

					<div class="col-md-8" id="btn-3" style="display: none">
						<h3 class="naslov">Reports</h3>
                        <legend class="border-bottom mb-4">List of Reports </legend>
                            <div class="list-group">

                            </div>

                    </div>
             </div>

    </main>
</body>

<script>
	function showOrHideDivBtn0() {
        document.getElementById("btn-0").style.display="inline-block";
        document.getElementById("btn-1").style.display="none";
        document.getElementById("btn-2").style.display="none";
        document.getElementById("btn-3").style.display="none";
    }

    function showOrHideDivBtn1() {
        document.getElementById("btn-0").style.display="none";
        document.getElementById("btn-1").style.display="inline-block";
        document.getElementById("btn-2").style.display="none";
        document.getElementById("btn-3").style.display="none";
    }

    function showOrHideDivBtn2() {
        document.getElementById("btn-0").style.display="none";
        document.getElementById("btn-1").style.display="none";
        document.getElementById("btn-2").style.display="inline-block";
        document.getElementById("btn-3").style.display="none";
    }
    function showOrHideDivBtn3() {
        document.getElementById("btn-0").style.display="none";
        document.getElementById("btn-1").style.display="none";
        document.getElementById("btn-2").style.display="none";
        document.getElementById("btn-3").style.display="inline-block";
    }

</script>

{% endblock content %}