{% extends "soi_app/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

 <head>

     <link rel="stylesheet" type="text/css" href="{% static 'soi_app/index.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'soi_app/home_professor.css'%}">

</head>

<body>

        <main role="main" class="container">
                <div class="row">
                    <div class="sidenav">
                        <button  class="button" type="button" onclick="showOrHideDivBtn1()">New Group</button>
                        <button  class="button" type="button" onclick="showOrHideDivBtn2()">Groups</button>

                    </div>

                  <div class="col-md-8" id="btn-0" style="display: block">
                        <img src="{% static 'soi_app/image/favicon.png' %}"  class="center" >
                        <p class="naslov">Profesor</p>
                        <hr>
                        <p class="naslov1">Univerzitet u Sarajevu</p>
                        <p class="naslov1">Prirodno-matematički fakultet</p>
                        <p class="naslov1 ">Odsjek za matematiku</p>

                  </div>

                  <div class="col-md-8" id="btn-1" style="display: none">
                        <p class="naslov">NEW  GROUP</p>
                            <div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Create group</legend>
                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        <hr>
                  </div>

                <div class="col-md-8" id="btn-2" style="display: none">

                       <h3 class="naslov">GROUPS</h3>

                            <div class="list-group"  >


                                {% for instance in object_list %}
                                <form method="POST">
                                 <div class="container list-group-item list-group-item-action">
                                        <div class="row">
                                                <div  class="col-9 padding-0">
                                      <li style="list-style-type: none;"><a href="http://localhost:8000/group/{{instance.code}}" ><h6>{{instance.name}}</h6>{{instance.owner_id}} <span class="badge badge-primary badge-pill">{{instance.code}}</span></a>
                                        </div>

                                        <div class="col-3 padding-0">
                                            <a href="http://localhost:8000/delete/{{instance.id}}" methods="delete" class="btn btn-primary btn-block" id = '{{instance.id}}' >delete</a>
                                            <a href="http://localhost:8000/update/{{instance.id}}" methods="update" class="btn btn-primary btn-block" id='{{instance.id1}}' >edit</a>
                                         </div>
                                        </div>

</div>
     </form>
                                 <br>
<!---->

<!---->
<!--</li>-->
                                {% endfor %}
                                </div>

                </div>

             </div>

    </main>
</body>

<script>
    function showOrHideDivBtn1() {
        document.getElementById("btn-0").style.display="none";
        document.getElementById("btn-1").style.display="inline-block";
        document.getElementById("btn-2").style.display="none";
    }

    function showOrHideDivBtn2() {
        document.getElementById("btn-0").style.display="none";
        document.getElementById("btn-1").style.display="none";
        document.getElementById("btn-2").style.display="inline-block";
    }

</script>

{% endblock content %}