{% extends "soi_app/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

 <head>
     <link rel="stylesheet" type="text/css" href="{% static 'soi_app/index.css'%}">
     <link rel="stylesheet" type="text/css" href="{% static 'soi_app/home_professor.css'%}">

     <script src = "{% url 'js-catlog' %}"></script>
     <script src = "{% static '/admin/js/core.js' %}"></script>

     <link rel = "stylesheet" href="{% static 'admin/css/widgets.css' %}">
</head>

<body>
<div class="row">
    <div class="sidenav">
        <button  class="button" type="button" onclick="showOrHideDivBtn0()">Edit Task</button>
        <button  class="button" type="button" onclick="location.href='http://localhost:8000/group/{{current_task.id}}/tasks/input_output'">Add Solution</button>
        <!--<button  class="button" type="button" onclick="showOrHideDivBtn1()">Add Solution</button>-->
    </div>
    <div class="col-md-8" id="btn-0" style="display: block">
        <p class="naslov">Edit Task</p>
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> {{ current_task.name }} </legend>
                            {{ form.media }}
                            {{ form|crispy }}
                    </fieldset>
                </form>
            </div>
        <hr>
    </div>

</div>
</body>
<script>
	function showOrHideDivBtn0() {
        document.getElementById("btn-0").style.display="inline-block";
        document.getElementById("btn-1").style.display="none";
//window.location.reload();
    }

    function showOrHideDivBtn1() {
        document.getElementById("btn-0").style.display="none";
        document.getElementById("btn-1").style.display="inline-block";
        //window.location.reload();

    }
</script>
{% endblock content %}